target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
mongod.lock
diagnostic.data
journal
*.iws
*.iml
*.ipr
*.wt
*.pdf
*.docx
*.lock


### NetBeans ###
             nbproject/private/
             build/
             nbbuild/
             dist/
             nbdist/
             .nb-gradle/